// .card-container{
//     display: flow-root;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
// }

.avatar-figure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .login-card {
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 30px;
    color: aqua;
  }
  
  .validation-messages {
    text-align: center;
    color: #ff6347; /* Color rojo para mensajes de error */
    margin-top: 10px;
  }
  
  .error-message {
    font-size: 12px;
  }
  
  .login-button {
    margin-top: 20px;
  }
  
  .register-button {
    margin-top: 20px;
  }
  