<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar  color="tertiary">
        <ion-buttons>
        <ion-title>Menu</ion-title>
        <ion-button>Cerrar </ion-button>
      </ion-buttons>
      </ion-toolbar>
      </ion-header>
      <ion-content >
       
        <ion-list>
          <ion-item routerLink="/home">Home</ion-item>
          <ion-item routerLink="/about">About</ion-item>
          <ion-item routerLink="/contact">Contact</ion-item>
        </ion-list>     
            
      </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>



<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menu</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<!-- <ion-content >
  <ion-list>
    <ion-item routerLink="/home">Home</ion-item>
    <ion-item routerLink="/about">About</ion-item>
    <ion-item routerLink="/contact">Contact</ion-item>
  </ion-list>
</ion-content> -->