<!-- cabesera -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
          <ion-col size="auto">
            <!-- aqui se agrega el menu -->
            <ion-buttons>
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <!-- fin del menu -->
          </ion-col>
          <ion-title class="ion-text-center"> Home </ion-title>          
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
 <p>hola</p>

</ion-content>

<!-- pie da pagina -->
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home">
    <ion-icon name="play-circle"></ion-icon>
    Listen Now
  </ion-tab-button>
  <ion-tab-button tab="radio">
    <ion-icon name="radio"></ion-icon>
    Radio
  </ion-tab-button>
  <ion-tab-button tab="library">
    <ion-icon name="library"></ion-icon>
    Library
  </ion-tab-button>
  <ion-tab-button tab="search">
    <ion-icon name="search"></ion-icon>
    Search
  </ion-tab-button>
  <ion-tab-button tab="exit">
    <ion-icon name="exit" (click)="exit()"></ion-icon>
    Salir
  </ion-tab-button>
</ion-tab-bar>
