.content {
  --background: linear-gradient(135deg, rgba(54, 51, 255, 0.404), rgba(253, 251, 120, 0.37));
  background-blend-mode: overlay;
  overflow: hidden;
  // height: 100%;
  overflow-y: hidden;

}