<!-- INICIO área cabecera -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="Cancel()" >Cancel</ion-button>
    </ion-buttons>
    <ion-title>Registro usuario</ion-title>
  </ion-toolbar>
</ion-header>
<!-- FIN área cabecera -->

<!-- INICIO área de contenido-->

<!-- INICIO del campo username -->
<ion-content class="content" >
  <ion-grid class="regimg">
    <ion-row > 
      <ion-col>
        <img src="../../assets/images/avatar.jpg"/>      
      </ion-col>
     </ion-row>
  </ion-grid>

  <ion-card class="ioncard">
    <form [formGroup]="registerForm" (ngSubmit)="(onregSubmit(registerForm.value))">
      <ion-card-content >
        <ion-item lines="translucent">
          <ion-input formControlName="name"  type="ion-text" label="Nombre" labelPlacement="floating" placeholder="Nombre" clearInput></ion-input>
        </ion-item>
        <ion-item lines="translucent">
          <ion-input formControlName="appelli"  type="ion-text" label="apellido" labelPlacement="floating" placeholder="apellido" clearInput></ion-input>
        </ion-item>
        <ion-item lines="translucent">
          <ion-input formControlName="email"  type="email" label="Correo Electrónico" labelPlacement="floating" placeholder="Correo Electrónico" clearInput></ion-input>
        </ion-item>
        <ion-item lines="translucent">
          <ion-input formControlName="password"  type="password" label="Contraseña" labelPlacement="floating" placeholder="Contraseña" clearInput></ion-input>
        </ion-item>
        <ion-item lines="translucent">
          <ion-input formControlName="confirpassword"  type="password" label="Confirmar Contraseña" labelPlacement="floating" placeholder="Confirmar Contraseña" clearInput></ion-input>
        </ion-item>
        <ion-button
          type="submit"
          [disabled]="!registerForm.valid"
          expand="block"
          shape="round"
          color="primary"
        >
          Registrarse
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>

</ion-content>
<!-- FIN  del campo username -->
<!-- pie da pagina -->
<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="exit">
    <ion-icon name="exit" (click)="exit()"></ion-icon>
    Salir
  </ion-tab-button>
</ion-tab-bar> -->
