.content{
  //--background: linear-gradient(to bottom right, rgb(98, 95, 255), rgb(254, 180, 124));
  --background: linear-gradient(135deg, rgba(255, 253, 131, 0.466),rgba(128, 126, 255, 0.452), rgba(129, 126, 255, 0.548), rgba(255, 253, 131, 0.466));
    overflow: hidden;
   // height: 100%;
    overflow-y: hidden;
    
}


.ioncard {
  //--background: linear-gradient(to bottom right, rgb(98, 95, 255), rgb(254, 180, 124));
  --background: linear-gradient(135deg, rgba(255, 253, 131, 0.466),rgba(128, 126, 255, 0.452), rgba(129, 126, 255, 0.548), rgba(255, 253, 131, 0.466));
  --border-radius: 15px; 
    margin: 20px;
    overflow-y: hidden;
    overflow: auto; /* Esto permitirá que el contenido del card se desplace si es necesario */
}



ion-item{
  --border-radius: 15px; /* Ajusta el valor según tus necesidades */
  padding: 8px; /* Opcional: para añadir algo de relleno */
  margin: 8px 0; 
 }

.regimg{
  max-width: 250px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  
}


.translucent-background {
  //background: linear-gradient(to bottom, rgba(98, 95, 255, 1.5), rgba(254, 180, 124, 1.5)); /* Degradado translúcido */
  background: linear-gradient(135deg, rgba(255, 253, 131, 0.466),rgba(128, 126, 255, 0.452), rgba(129, 126, 255, 0.548), rgba(255, 253, 131, 0.466));
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  /*evita el scroll en el ecard*/
 
}

ion-button {
  margin-top: 20px;
   border-radius: 12px;
}
