.content{
  --background: linear-gradient(to bottom right, rgb(98, 95, 255), rgb(254, 180, 124));
    overflow: hidden;
   // height: 100%;
    overflow-y: hidden;
    
}


// .gradient-background {
//   --background: linear-gradient(to bottom right, rgb(98, 95, 255), rgb(254, 180, 124));
//   height:85%;
 
// }

.ioncard {
  --background: linear-gradient(to bottom right, rgb(98, 95, 255), rgb(254, 180, 124));
//   --background: white;
--border-radius: 15px; 
   margin: 20px;
//   padding: 50px;
//   border-radius: 12px;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   max-width: 400px;
//   overflow-y: hidden;

  //overflow: auto; /* Esto permitirá que el contenido del card se desplace si es necesario */
}



ion-item{
  --border-radius: 15px; /* Ajusta el valor según tus necesidades */
  padding: 8px; /* Opcional: para añadir algo de relleno */
  margin: 8px 0; 
 }

.regimg{
  max-width: 250px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: hidden;
  
}


.translucent-background {
  background: linear-gradient(to bottom, rgba(98, 95, 255, 1.5), rgba(254, 180, 124, 1.5)); /* Degradado translúcido */
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  /*evita el scroll en el ecard*/
 
}

ion-button {
  margin-top: 20px;
   border-radius: 12px;
}
